<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- 本地 NuGet 包目录 -->
    <add key="Local Packages" value="./local-packages" />
    
    <!-- NuGet 官方源 -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  
  <packageSourceMapping>
    <!-- 所有包都可以从所有源获取 -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Local Packages">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
